.footer .row{
    background-color: rgb(248, 181, 192);
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    text-align:center;
}
footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer p{
    font-weight: bold;
}
footer h5{
    font-size: 30px;
    font-weight: bold;
}
footer input{
    border-radius: 10px;
    padding: 10px;
    border-color: gray;
    outline: none;
}
footer button{
    margin-left: 10px;
    font-size: 10px;
    background-color: rgb(11, 11, 85);
    border-radius: 10px;
}
footer i{
    background-color: transparent;
    color: aliceblue;
}